<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="tabris-plugin-firebase"
        version="3.0.0">

  <name>Tabris.js Firebase Plugin</name>
  <description>A firebase for Tabris.js. The plugin allows to handle cloud messages.</description>
  <author>EclipseSource</author>
  <license>Revised BSD License (3-clause license)</license>
  <repo>https://github.com/eclipsesource/tabris-plugin-firebase.git</repo>
  <issue>https://github.com/eclipsesource/tabris-plugin-firebase/issues</issue>

  <!-- cordova -->
  <engines>
    <engine name="cordova-android" version=">=8.1.0" />
  </engines>

  <js-module src="www/Analytics.js" name="analytics">
    <clobbers target="firebase.Analytics" />
  </js-module>

  <hook src="scripts/copy_tagmanager_containers.js" type="after_plugin_install" />

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/manifest">

      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />

    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">

      <service
	  android:name="com.eclipsesource.firebase.messaging.TabrisFirebaseMessagingService"
	  android:exported="true">
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
      </service>

      <meta-data
          android:name="com.eclipsesource.tabris.android.HANDLER.com.eclipsesource.tabris.firebase.messaging"
          android:value="com.eclipsesource.firebase.messaging.MessagingHandler" />
      <meta-data
          android:name="com.eclipsesource.tabris.android.HANDLER.com.eclipsesource.tabris.firebase.analytics"
          android:value="com.eclipsesource.firebase.analytics.AnalyticsHandler" />
      <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
      <meta-data android:name="firebase_performance_logcat_enabled" android:value="true" />

    </config-file>

    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

    <framework src="com.google.firebase:firebase-core:17.2.2" />
    <framework src="com.google.firebase:firebase-messaging:20.1.0" />
    <framework src="com.google.firebase:firebase-analytics:17.2.2" />
    <framework src="com.google.firebase:firebase-perf:19.0.5" />
    <framework src="com.google.android.gms:play-services-tagmanager:17.0.1" />

    <source-file src="src/android/com/eclipsesource/firebase/messaging/MessagingHandler.kt"
                 target-dir="src/com/eclipsesource/firebase/messaging" />
    <source-file src="src/android/com/eclipsesource/firebase/messaging/Messaging.kt"
                 target-dir="src/com/eclipsesource/firebase/messaging" />
    <source-file src="src/android/com/eclipsesource/firebase/messaging/TabrisFirebaseMessagingService.kt"
                 target-dir="src/com/eclipsesource/firebase/messaging" />
    <source-file src="src/android/com/eclipsesource/firebase/messaging/NotificationOpenedReceiver.kt"
                 target-dir="src/com/eclipsesource/firebase/messaging" />

    <source-file src="src/android/com/eclipsesource/firebase/analytics/AnalyticsHandler.kt"
                 target-dir="src/com/eclipsesource/firebase/analytics" />
    <source-file src="src/android/com/eclipsesource/firebase/analytics/Analytics.kt"
                 target-dir="src/com/eclipsesource/firebase/analytics" />

    <hook src="scripts/android/copy_google_services.js" type="after_prepare" />
    <hook src="scripts/android/patch_build_gradle.js" type="after_plugin_install" />

  </platform>

  <platform name="ios">
    <!-- Add entries to TabrisPlugins.plist -->
    <config-file target="*TabrisPlugins.plist" parent="classes">
    	<array>
	    	<string>ESFBAnalytics</string>
    	</array>
    </config-file>
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
        <array>
            <dict>
                <key>CFBundleURLName</key>
                <string>$PACKAGE_NAME</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>tagmanager.c.$PACKAGE_NAME</string>
                </array>
            </dict>
        </array>
    </config-file>

    <config-file target="*-Info.plist" parent="FIREBASE_ANALYTICS_COLLECTION_ENABLED">
        <false/>
    </config-file>

    <!-- Frameworks -->
    <framework src="FirebaseAnalytics" type="podspec" spec="~> 6.4.2"/>
    <framework src="FirebaseMessaging" type="podspec" spec="~> 4.3.1"/>
    <framework src="FirebasePerformance" type="podspec" spec="~> 3.2.1"/>
 		<framework src="GoogleTagManager" type="podspec" spec="~> 7.1.4"/>

    <!-- Sources -->
    <!-- Analytics -->
    <header-file src="src/ios/src/ESFBAnalytics.h" />
    <source-file src="src/ios/src/ESFBAnalytics.m" />
    <!-- Helper classes -->
    <header-file src="src/ios/src/ESFirebaseHelper.h" />
    <source-file src="src/ios/src/ESFirebaseHelper.m" />
  </platform>

</plugin>
