<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="tabris-plugin-firebase"
        version="2.0.0">

  <name>Tabris.js Firebase Plugin</name>
  <description>A firebase for Tabris.js. The plugin allows to handle cloud messages.</description>
  <author>EclipseSource</author>
  <license>Revised BSD License (3-clause license)</license>
  <repo>https://github.com/eclipsesource/tabris-plugin-firebase.git</repo>
  <issue>https://github.com/eclipsesource/tabris-plugin-firebase/issues</issue>

  <!-- cordova -->
  <engines>
    <engine name="cordova" version=">=3.8.0" />
  </engines>

  <js-module src="www/Analytics.js" name="analytics">
    <clobbers target="firebase.Analytics" />
  </js-module>

  <hook src="scripts/copy_tagmanager_containers.js" type="after_plugin_install" />

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/manifest">

      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />

    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">

      <meta-data
          android:name="com.eclipsesource.tabris.android.OPERATOR.com.eclipsesource.tabris.firebase.analytics"
          android:value="com.eclipsesource.firebase.analytics.AnalyticsOperator" />
      <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />

    </config-file>

    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

    <framework src="com.google.firebase:firebase-core:12.0.1" />
    <framework src="com.google.firebase:firebase-analytics:12.0.1" />
    <framework src="com.google.android.gms:play-services-tagmanager:12.0.1" />
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false" />
      <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true">
        <intent-filter>
          <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
        </intent-filter>
      </receiver>
    </config-file>

    <source-file src="src/android/com/eclipsesource/firebase/analytics/AnalyticsOperator.kt"
                 target-dir="src/com/eclipsesource/firebase/analytics" />
    <source-file src="src/android/com/eclipsesource/firebase/analytics/AnalyticsPropertyHandler.kt"
                 target-dir="src/com/eclipsesource/firebase/analytics" />
    <source-file src="src/android/com/eclipsesource/firebase/analytics/Analytics.kt"
                 target-dir="src/com/eclipsesource/firebase/analytics" />

    <hook src="scripts/android/copy_google_services.js" type="after_plugin_install" />

  </platform>

  <platform name="ios">
    <!-- Add entries to TabrisPlugins.plist -->
    <config-file target="*TabrisPlugins.plist" parent="classes">
    	<array>
	    	<string>ESFBAnalytics</string>
    	</array>
    </config-file>

    <!-- Frameworks -->
    <framework src="FirebaseAnalytics" type="podspec" spec="~> 4.2.0"/>
 		<framework src="GoogleTagManager" type="podspec" spec="~> 6.0.0"/>

    <!-- Sources -->
    <!-- Analytics -->
    <header-file src="src/ios/src/ESFBAnalytics.h" />
    <source-file src="src/ios/src/ESFBAnalytics.m" />
    <!-- Helper classes -->
    <header-file src="src/ios/src/ESFirebaseHelper.h" />
    <source-file src="src/ios/src/ESFirebaseHelper.m" />
  </platform>

</plugin>