<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="com.eclipsesource.tabris.firebase.example"
        version="1.0.0">
  <name>Tabris.js Firebase Plugin Example</name>
  <description>Examples for the Tabris.js firebase plugin.</description>
  <author email="tabris@eclipsesource.com" href="https://tabrisjs.com">EclipseSource</author>

  <preference name="EnableDeveloperConsole" value="true" />

  <plugin name="tabris-plugin-firebase" spec="../">
    <variable name="ANDROID_NOTIFICATION_ICON" value="@drawable/ic_stat_trend" />
  </plugin>

  <platform name="android">
    <hook type="after_prepare" src="scripts/android/copy-resources.js" />
    <preference name="Theme" value="@style/Theme.Firebase" />
  </platform>

  <platform name="ios">
    <resource-file src="GoogleService-Info.plist" />
  </platform>
</widget>
